#title{
    letter-spacing: 5pt;
    background-color:#17a2b8;
    color: #ffffff;
    text-align: center;
    font-size: vw;
}

#my-purpose{
 background-image: url(../images/icu-bg.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

#purpose-body{
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
}

.rest-body{
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
}

.rest-card{
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 25px;
}

.card{
    background: transparent;
    border: 0px;
}

.navbar{
    background-color: #17a2b8;
    color: white;
}

a.nav-link{
    color: white;
}

body{
    background-color: #e3f2fd;
}

footer{
    border-top: 1px solid rgba(0,0,0,.125) ;
    background-color: #17a2b8;
}


